<div class="block-stash-item-adder" data-course-id={{courseid}}>
    <div class="block-stash-will-do-for-now">
        <table class="block_stash_item_box table" data-type="loss">
            {{>block_stash/local/trade/item_table_data_loss}}
        </table>
    </div>
</div>
