{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Trade item picker.
}}

<div class="main-window container" data-type="{{type}}">
    <div class="row">
        <label class="span2 col-sm-2">{{#str}}item, block_stash{{/str}}</label>
        <div class="span5 col-sm-5">
            <select id="block-stash-item-select" class="form-control">
            {{#items}}
                <option value="{{id}}" data-imgurl="{{imageurl}}">{{name}}</option>
            {{/items}}
            </select>
        </div>
    </div>
    <div class="row">
        <label class="span2 col-sm-2 py-1">{{#str}}quantity, block_stash{{/str}}</label>
        <div class="span3 col-sm-3 py-1">
            <input type="number" class="block-stash-quantity form-control" id="amount" min="1" size="5" value="1" />
        </div>
    </div>
</div>
