{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Configuration form for block stash item removal for entry into a quiz.
}}

<div>
    <div class="form-group">
        <!-- Item selector -->
        {{>block_stash/local/trade/item_adder_gain}}
    </div>
    <div class="form-group">
        <!-- Quiz selector -->
        <label for="quiz_selector">{{#str}}selectquiz, block_stash{{/str}}</label>
        <select class="form-control block-stash-quiz-select" id="quiz_selector">
            <option value="0">Select a quiz</option>
            {{#quizzes}}
                <option value="{{id}}" {{#selected}}selected="{{selected}}"{{/selected}}>{{name}}</option>
            {{/quizzes}}
        </select>
        {{#removalid}}
        <input type="hidden" name="removal" id="block_stash_removal_id" data-id="{{removalid}}" />
        {{/removalid}}
    </div>
</div>
